@import '~node_modules/modern-normalize/modern-normalize.css';

.myButton {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.myButton:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.container {
  min-width: 900px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    max-width: 1200px;
  }
}

.link {
  text-decoration: none;
  color: rgb(65, 65, 65);
}

.card-link {
  border: 1px solid black;
  font-size: 12px;
  max-width: 300px;
  flex-basis: calc((100% - 30px * (4 - 1)) / 4);

  background-color: whitesmoke;
  overflow: hidden;

  transition: 150ms;

  &:hover,
  &:focus {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
    transform: scale(1.05);
  }
}

.thumb {
  width: auto;
  height: 200px;
}

.img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header {
  padding: 10px;
  background-color: #263666;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  margin-bottom: 5px;
  margin-top: 5px;
}

.css-input {
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}
.css-input:focus {
  outline: 1px solid #0688fa;
}
